/* .m-areas>div.m-area>div.m-panel.m-tools.collapsed>button.m-panel-btn {
  color: #087021;
}

.m-areas>div.m-area>div.m-panel.m-tools>button.m-panel-btn {
  background-color: #087021;
}




.m-areas>div.m-area>div.m-panel.m-tools>div.m-panel-controls>div.m-control.activated>button {
  color: #087021;
}

.m-areas>div.m-area>div.m-panel.m-location>div.m-panel-controls>div.m-control.activated>button {
  color: #087021;
} */

.m-areas>div.m-area>div.m-panel.m-layer-selector.collapsed>button.m-panel-btn {
  border-radius: 20px;
  float: left;
  color: #087021;
}

.m-areas>div.m-area>div.m-panel.m-layer-selector {
  order: -4 !important;
  background: none !important;
  box-shadow: none !important;
}

.m-areas>div.m-area>div.m-panel.m-layer-selector.collapsed>button.m-panel-btn {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2), 0 -1px 0 rgba(0, 0, 0, .02)!important;
}

.m-areas>div.m-area>div.m-panel.m-layer-selector, div.m-panel.m-layer-selector>button {
  box-shadow: 0 2px 4px rgba(0,0,0,.2),0 -1px 0 rgba(0,0,0,.02);
}

.m-areas>div.m-area>div.m-panel.m-layer-selector>button.m-panel-btn {
  /* position: absolute; */
  /* left: -40px; */
  background-color: #087021;
  color: #fff!important;
  z-index: 999999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2), 0 -1px 0 rgba(0, 0, 0, .02);
}

.m-panel.m-layer-selector.opened {
  background-color: none !important;
  box-shadow: none !important;

}

.m-panel.m-layer-selector.collapsed {
  color: #087021 !important;
}

.m-panel.m-layer-selector.opened.no-collapsible {
  order: -999 !important;
  margin-top: 0px !important;
  margin-right: 0px !important;
}

#selector-container {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #666 !important;
  top: 0px;
  display: table;
  clear: both;
  z-index: 1;
  background-color: #FFFFFF;
  position: absolute;
  right: 0px !important;
  width: max-content;
  min-width: 339px;
  padding: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .7);
}

#select-container {
  float: left;
  display: flex;
}

#parentSelectLayer {
  font-size: 0.8em;
  height: 20px;
  width: "fix-content";
  margin-right: 5px;
  display: inline-block;
}

#selectLayer {
  font-size: 0.8em;
  height: 20px;
  width: 100%;
  display: inline-block;
}