<div id="selector-container" class="m-control m-container m-layerselector">
  <div id="select-container">
    <select id="parentSelectLayer" name="parentSelectLayer">
      {{#each options}}
      <option value="{{this}}">{{this}}</option>   
      {{/each}}
    </select>
    <select id="selectLayer"  name="selectLayer">
      <option value="">Seleccione una opción</option>
        {{#each groups}}
        <optgroup label="{{this.optgroup}}">
          {{#each layers}}
          <option value="{{this.id}}">{{this.legend}}</option>
          {{/each}}
          {{/each}}
        </optgroup>
    </select>
  </div>
</div>